.container {
  padding: 30px;
  font-family: 'Arial', sans-serif;
  background-color: #cde6bf;
  min-height: 100vh;
}

.titulo {
  text-align: center;
  margin-bottom: 40px;
  color: #178a17;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.listaCards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
